<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Mantra</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="/static/bio-style.css">
</head>
<body>
<div id="bio" hx-get="/getBio" hx-trigger="load">
    Loading...
</div>
<button id="addTextButton" class="addTextButton" style="font-size: 7vh;">...?</button>
<div id="extraText"><p></p></div>
<script>
    document.getElementById("addTextButton").addEventListener("click", function() {
        var newText = document.createElement("p");
        newText.textContent = "...is to stay humble and keep learning.";
        newText.style="font-size: 7vh;";
        document.getElementById("extraText").appendChild(newText);
        this.style.display = "none"; // hides the button
    });
</script>
<div class="dvd-bounce">
    <img id="sandwich1" src="/static/sandwich1.png" alt="Sandwich 1">
    <img id="sandwich2" src="/static/sandwich2.png" alt="Sandwich 2">
</div>
<script src="/static/scripts-dvd-bounce.js"></script>
</body>
</html>