<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "Meta.html" . }}
    <title>Sign Up | CFA Tools</title>
</head>
<body>
    {{ template "Navbar.html" . }}
    {{ template "GuestNavMenu.html" . }}
    {{ template "SignupForm.html" . }}
    {{ template "BigLoader.html" . }}
</body>
</html>

<script defer>
    closeNav()
	hideBigLoader()
    window.onload = function() {
        const user = parseUrlData();
        document.getElementById('firstName').value = user.first_name;
        document.getElementById('lastName').value = user.last_name;
        document.getElementById('username').value = user.username;
    };
</script>

