<nav hx-boost="false" id="nav-menu" class="fixed hidden w-3/5 h-full bg-white z-30 text-gray-700 font-serif">
	<ul>
		<li class="p-1 nav-menu-link bg-white m-2 border rounded-lg flex text-sm shadow-sm">
			<div onclick="showBigLoader()">
				<a href="/bot" class="flex-grow p-3 rounded-lg">Log In</a>
			</div>
		</li>
		<li class="p-1 nav-menu-link bg-white m-2 border rounded-lg flex text-sm shadow-sm">
			<div onclick="showBigLoader()">
				<a href="/signup" class="flex-grow p-3 rounded-lg">Sign Up</a>
			</div>
		</li>
	</ul>
</nav>
<script src="/static/fragment-handler.js"></script>
