<br><br><br><form id="signup-form" hx-boost="true" method=POST action="/actions/signup" class="bg-gray-100 border m-2 rounded-lg flex flex-col p-4 text-gray-700">
	<h2 class="font-serif mb-4 text-lg">Sign Up</h2>
	<p class="mb-4 text-xs text-red-700">{{ .SignupFormErr }}</p>
	<label for="username">Username:</label><br>
	<input type="text" id="username" name="username" readonly><br>
	<label for="password">Password</label>
	<input value="qqwweewwqq" name="password" type="password" class="p-2 text-xs mb-6 outline-none border rounded bg-white" />
	<label for="firstName">First Name:</label><br>
	<input type="text" id="firstName" name="firstName"><br>
	<label for="lastName">Last Name:</label><br>
	<input type="text" id="lastName" name="lastName"><br>

	<div id="searchPreference">
		<h3>Who are you searching for?</h3>
		<select name="searchPreference" required>
			<option value="friend_online"> Friend to meet online</option>
			<option value="friend_offline"> Friend to meet offline</option>
			<option value="help_project" selected> Help with my pet project</option>
		</select>
	</div>

	<div id="location">
		<h3>Where are you?</h3>
		<select name="location" required>
			<option value="Georgia">Georgia</option>
			<option value="Serbia">Serbia</option>
			<option value="Kazakhstan">Kazakhstan</option>
			<option value="Dubai">Dubai</option>
			<option value="Russia">Russia</option>
			<option value="USA">USA</option>
			<option value="someplace_else" selected>Someplace else</option>
		</select>
	</div>

	<label for="description">Description:</label>
	<textarea id="description" name="description" required></textarea>

	<button onclick="handleFormSubmit()" type="submit" class="bg-gray-700 px-8 py-2 text-xs text-white rounded w-fit">
		<span id="signup-form-submit-text">Sign Up</span>
	</button>
</form>